@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

textarea {
  padding: 8px;
  margin: 10px;
  resize: none;
  scrollbar-color: #a3b3ff transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #a3b3ff;
}

textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
